<footer>
  <ul class="footerSubNav">
    <li>
      <span class="footerSubNavTitle">關於我們</span>
      <ul>
        <li><a href="">公司介紹</a></li>
        <li><a href="">公司治理</a></li>
        <li><a href="">企業社會責任</a></li>
      </ul>
    </li>
    <li>
      <span class="footerSubNavTitle">聯絡我們</span>
      <ul>
        <li><a href="">客服信箱</a></li>
        <li><a href="">人才招募</a></li>
      </ul>
    </li>
    <li>
      <span class="footerSubNavTitle">客戶服務</span>
      <ul>
        <li><a href="">繳款服務</a></li>
        <li><a href="">帳單服務</a></li>
      </ul>
    </li>
    <li>
      <span class="footerSubNavTitle">媒體中心</span>
      <ul>
        <li><a href="">新聞公告</a></li>
        <li><a href="">品牌故事</a></li>
        <li><a href="">最新消息</a></li>
      </ul>
    </li>
    <li>
      <span class="footerSubNavTitle">其他</span>
      <ul>
        <li><a href="">隱私權聲明</a></li>
        <li><a href="">服務條款</a></li>
        <li><a href="">公告訊息</a></li>
        <li><a href="">營業規章</a></li>
        <li><a href="">資費試算</a></li>
        <li><a href="">4G事業計畫書摘要</a></li>
      </ul>
    </li>
    <li>
      <span class="footerSubNavTitle">其他</span>
      <ul>
        <li><a href="">隱私權聲明</a></li>
        <li><a href="">服務條款</a></li>
        <li><a href="">公告訊息</a></li>
        <li><a href="">營業規章</a></li>
        <li><a href="">資費試算</a></li>
        <li><a href="">4G事業計畫書摘要</a></li>
      </ul>
    </li>
  </ul>
  <article class="footerBlock">
    <ul class="certification">
      <li><img src="https://t-star.gitlab.io/website/images/icons/ft-award01.png" alt="" title=""/></li>
      <li><img src="https://t-star.gitlab.io/website/images/icons/ft-award02.png" alt="" title=""/></li>
      <li><img src="https://t-star.gitlab.io/website/images/icons/ft-award03.png" alt="" title=""/></li>
      <li><img src="https://t-star.gitlab.io/website/images/icons/ft-award04.png" alt="" title=""/></li>
    </ul>
    <section class="text">
      <p>網路門市專線：0986-999-330(行動計費)，將有銷售顧問為您服務。專線服務時間：週一 ~ 週五 9:00~22:00，例假日 10:00~22:00</p>
      <p>客戶服務專線：用戶請以手機直撥123;非用戶請撥02-7703-4300(市話計費)、0908-000-123(行動計費)或0800-661-234</p>
      <p>台灣之星電信版權所有 Copyrightc 2016 Taiwan Star Telecom Corporation Limited. All Rights Reserved.</p>
    </section>
  </article>
</footer>
