<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script type="text/javascript" src="../javascripts/scroll.js"></script>
    <script type="text/javascript" src="../javascripts/plugin.js"></script>
    <script type="text/javascript" src="../javascripts/ie8-fix.js"></script>
    <script type="text/javascript" src="../javascripts/default.js"></script>
  </head>
  <body>
    <% include header %>
    <article id="wrapper">
      <main id="content">
        <article class="tsContent staggered odd fullscreen loginPage1 margin" style="background-image:url('../images/login/page1_bg.jpg')">
          <main>
            <h3>即時快速，無需等待</h3>
            <p>我們提供的不只是服務，而是完美體驗</p>
            <form>
              <ul class="list fromUl">
                <li><input type="text" name="username" value="" placeholder="請輸入門號"/></li>
                <li><input type="password" name="password" value="" placeholder="請輸入密碼"/></li>
                <li><button type="submit" class="btnStyleModel1">登入</button></li>
                <li><a class="btnStyleModel3">忘記/申請密碼</a></li>
              </ul>
            </form>
            <h4 class="subTitle">系統公告</h4>
            <ul class="list news">
              <li>
                <ul>
                  <li>
                    <a href="">myTstar 將於 2017/12/20 23:00~2017/12/21 05:00 進行系統升級，屆時將無法進行登入使用，造成您的不便，敬請用戶見諒。</a>
                  </li>
                </ul>
              </li>
            </ul>
          </main>
        </article>

        <article class="tsContent staggered odd fullscreen loginPage loginAction margin" style="background-image:url('../images/login/page2_bg.jpg')">
          <main>
            <div class="mainLeft">
              <h3>月租型用戶</h3>
              <p>登入後您可以</p>
            </div>
            <div class="mainRight">
              <svg class="nullLine">
                <polyline/>
              </svg>
              <ul  class="list depiction">
                <li>掌控您的即時用量</li>
                <li>查詢的專案內容</li>
                <li>用戶登入繳款</li>
                <li>免登入繳款</li>
                <li>查看最近六期帳單與明細</li>
                <li>查看最近六期通話明細</li>
                <li>查看電子帳單寄送紀錄</li>
                <li>設定自動扣款</li>
              </ul>
            </div>
          </main>
          <aside>
          </aside>
        </article>

        <article class="tsContent staggered odd fullscreen loginPage3 loginAction margin" style="background-image:url('../images/login/page3_bg.jpg')">
          <main>
            <div class="mainLeft">
              <h3>預付卡用戶</h3>
              <p>登入後您可以</p>
            </div>
            <div class="mainRight">
              <svg class="nullLine">
                <polyline />
              </svg>
              <ul class="list depiction">
                <li>掌控您的即時用量</li>
                <li>查看您的門號餘額與效期</li>
                <li>餘額不足時線上快速儲值</li>
                <li>查看儲值紀錄</li>
              </ul>
            </div>
          </main>
        </article>

        <article class="tsContent staggered justifyContent loginPage4 margin">
          <main class="maxWidth">
            <div class="mainLeft">
              <h3>有些功能您可<br/>直接使用</h3>
            </div>
            <ul>
              <li>
                <span class="organSwitch ts-icons-down">帳務類服務</span>
                <ul>
                  <li><a href="">繳費方式說明</a></li>
                  <li><a href="">快速繳費</a></li>
                  <li><a href="">轉帳申請</a></li>
                  <li><a href="">帳單導讀說明</a></li>
                </ul>
              </li>
              <li>
                <span class="organSwitch ts-icons-down">聯絡客服</span>
                <ul>
                  <li><a href="">常見問題</a></li>
                  <li><a href="">客服信箱</a></li>
                </ul>
              </li>
            </ul>
          </main>
        </article>

        <article class="tsContent justifyContent">
          <ul class="tsContentFluidNav">
            <li>
              <img src="../images/login/small-1.jpg" alt="" title="" />
              <section class="absolute">
                <section class="text">
                  <span class="subtitle">最個人與即時的資訊皆可在此進行查看</span>
                  <span class="title">台灣之星官方APP</span>
                </section>
                <section class="action">
                  <ul>
                    <li>
                      <a class="iconStyleModel1">
                        <img src="../images/icons/icon-logo.png" alt="TSTAR" title="TSTAR" />
                      </a>
                    </li>
                  </ul>
                  <div class="QR">
                    <img src="../images/QR/QR1.jpg" alt="" title="" />
                  </div>
                </section>
              </section>
            </li>
            <li>
              <img src="../images/login/small-2.jpg" alt="" title="" />
              <section class="absolute">
                <section class="text">
                  <span class="subtitle">任何最優惠的專案資訊都在此與您分享</span>
                  <span class="title">台灣之星官方帳號</span>
                </section>
                <section class="action">
                  <ul>
                    <li>
                      <a class="iconStyleModel1">
                        <img src="../images/icons/icon-line.png" alt="TSTAR" title="TSTAR" />
                      </a>
                    </li>
                  </ul>
                  <div class="QR">
                    <img src="../images/QR/QR2.jpg" alt="" title="" />
                  </div>
                </section>
              </section>
            </li>
            <li>
              <img src="../images/login/small-3.jpg" alt="" title="" />
              <section class="absolute">
                <section class="text">
                  <span class="subtitle">隨時分享有趣與實用的資訊</span>
                  <span class="title">台灣之星官方粉絲團</span>
                </section>
                <section class="action">
                  <ul class="icon">
                    <li>
                      <a class="iconStyleModel1">
                        <img src="../images/icons/icon-fb.png" alt="TSTAR" title="TSTAR" />
                      </a>
                    </li>
                  </ul>
                  <div class="QR">
                    <img src="../images/QR/QR3.jpg" alt="" title="" />
                  </div>
                </section>
              </section>
            </li>
          </ul>
        </article>

        <article class="tsContent justifyContent indexPage5">
          <article class="tsContent-center">
            <h3>除了官網您還可在這裡找到我們</h3>
            <ul class="tsContentFluidNav">
              <li>
                <figure>
                  <div class="img">
                    <section class="absolute">
                      <section class="text"></section>
                      <section class="action">
                        <ul class="icon">
                          <li></li>
                        </ul>
                        <div class="QR">
                          <img src="../images/QR/QR1.jpg" alt="" title="" />
                        </div>
                      </section>
                    </section>
                    <img src="https://t-star.gitlab.io/website/images/ts-ad-news02.jpg" alt="The Pulpit Rock" />
                  </div>
                  <figcaption>
                    <div class="iconStyleModel1">
                      <img src="../images/icons/icon-logo.png" alt="TSTAR" title="TSTAR" />
                    </div>
                    <div class="text">
                      <h3>最新消息</h3>
                      <p>台灣之星總營收創新高 年增率25% 以實力贏得行銷界奧斯</p>
                    </div>
                  </figcaption>
                </figure>
              </li>
              <li>
                <figure>
                  <div class="img">
                    <section class="absolute">
                      <section class="text"></section>
                      <section class="action">
                        <ul class="icon">
                          <li></li>
                        </ul>
                        <div class="QR">
                          <img src="../images/QR/QR2.jpg" alt="" title="" />
                        </div>
                      </section>
                    </section>
                    <img src="https://t-star.gitlab.io/website/images/ts-ad-video02.jpg" alt="The Pulpit Rock" />
                  </div>
                  <figcaption>
                    <div class="iconStyleModel1">
                      <img src="../images/icons/icon-line.png" alt="TSTAR" title="TSTAR" />
                    </div>
                    <div class="text">
                      <h3>最新消息</h3>
                      <p>台灣之星總營收創新高 年增率25% 以實力贏得行銷界奧斯</p>
                    </div>
                  </figcaption>
                </figure>
              </li>
              <li>
                <figure>
                  <div class="img">
                    <section class="absolute">
                      <section class="text"></section>
                      <section class="action">
                        <ul class="icon">
                          <li></li>
                        </ul>
                        <div class="QR">
                          <img src="../images/QR/QR3.jpg" alt="" title="" />
                        </div>
                      </section>
                    </section>
                    <img src="https://t-star.gitlab.io/website/images/ts-ad-fanpage02.jpg" alt="The Pulpit Rock" />
                  </div>
                  <figcaption>
                    <div class="iconStyleModel1">
                      <img src="../images/icons/icon-fb.png" alt="TSTAR" title="TSTAR" />
                    </div>
                    <div class="text">
                      <h3>最新消息</h3>
                      <p>台灣之星總營收創新高 年增率25% 以實力贏得行銷界奧斯</p>
                    </div>
                  </figcaption>
                </figure>
              </li>
            </ul>
          </article>
        </article>
      </main>
    </article>
    <% include footer %>
  </body>
</html>
