<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script type="text/javascript" src="../javascripts/scroll.js"></script>
    <script type="text/javascript" src="../javascripts/plugin.js"></script>
    <script type="text/javascript" src="../javascripts/ie8-fix.js"></script>
    <script type="text/javascript" src="../javascripts/default.js"></script>
  </head>

  <body>
    <article id="wrapper">

      <% include header %>

      <main id="content">
        <article class="tsContent usersPage page1">
          <div class="coverBg" style="background-image:url(../images/users/userbg.jpg);">
          </div>
          <main>
            <div class="cover">
              <span class="userStatus">VIP</span>
              <img src="http://dgadobe.appledaily.com.tw/applefashion/media/2015catwalkcompetition/photo/876894572376946/1433945811_ce23fe1b501a.jpg" alt="" title="">
            </div>
            <div class="coverText">
              <div class="coverTitle">
                <h4>周昱汶 Wini</h4>
                <span class="coverTel">0911 121 342</span>
              </div>
            </div>
          </main>
        </article>

        <article class="tsContent justifyContent usersPageTsContent" data-addAfter="false">
          <article class="tsContentBlock" data-column="1">
            <div class="blockTitle">
              <span class="text caseTitleIcon1">未出帳使用量</span>
              <a href="#" class="moreIcon">看更多</a>
            </div>
            <div class="tsContentBlockContent">
              <ul class="dataBlockUl">
                <li>
                  <svg>
                    <circle data-total="200" data-use="150" style="stroke-dashoffset: 100"/>
                  </svg>
                  <div class="dataBlockTextBlock">
                    <div class="valueBlock">
                      99.9 <span>GB</span>
                    </div>
                    <div class="textBlock">
                      <span class="text">剩餘上網數據量</span>
                      <a href="#" class="btnStyleModel1">加購</a>
                    </div>
                  </div>
                </li>
                <li>
                  <svg>
                    <circle data-total="300" data-use="10" style="stroke-dashoffset: 20"/>
                  </svg>
                  <div class="dataBlockTextBlock">
                    <div class="valueBlock">
                      999 <span>mins</span>
                    </div>
                    <div class="textBlock">
                      <span class="text">以撥打國內分鐘數</span>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </article>

          <article class="tsContentBlock" data-column="1">
            <div class="blockTitle">
              <span class="text caseTitleIcon2">專案明細</span>
              <a href="#" class="moreIcon">看更多</a>
            </div>
            <div class="tsContentBlockContent">
              <div class="list">
                <div class="tag">我的專案</div>
                <div class="name">599吃到飽_30M</div>
              </div>
              <div class="list">
                <div class="tag">合約到期日</div>
                <div class="selectBarSwitch">
                  檢視
                  <div class="option">
                    <ul class="list optionUl">
                      <li>
                        <a href="#">
                          <span class="tag">合約開始</span>
                          <span class="time">2017/12/29</span>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <span class="tag">合約開始</span>
                          <span class="time">2017/12/30</span>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <ul class="list tabel model1">
                <li>
                  <ul>
                    <li class="tag">市話</li>
                    <li class="value">19 分</li>
                    <li class="text">前三分鐘免費</li>
                    <li></li>
                  </ul>
                </li>
                <li>
                  <ul>
                    <li class="tag">網外</li>
                    <li class="value">19 分</li>
                    <li class="text">前三分鐘免費</li>
                    <li><a href="#" class="btnStyleModel1">加購</a></li>
                  </ul>
                </li>
                <li>
                  <ul>
                    <li class="tag">網內</li>
                    <li class="value">0 分</li>
                    <li class="text">無限遞延</li>
                    <li><a href="#" class="btnStyleModel1">加購</a></li>
                  </ul>
                </li>
              </ul>
            </div>
          </article>

          <article class="tsContentBlock" data-column="1">
            <div class="blockTitle">
              <span class="text caseTitleIcon3">帳單預覽</span>
              <a href="#" class="moreIcon">看更多</a>
            </div>
            <div class="tsContentBlockContent">
              <ul class="list column model1" data-column="2" data-last-actionBtn="true">
                <li>
                  <ul>
                    <li class="tag">本期累積應繳金額</li>
                    <li class="value">99<span>元</span></li>
                  </ul>
                </li>
                <li>
                  <ul>
                    <li class="tag">繳款到期日</li>
                    <li class="value">2017/12/31</li>
                  </ul>
                </li>
                <li>
                  <a href="#" class="btnStyleModel1">立即繳款</a>
                </li>
              </ul>
            </div>
          </article>

          <article class="tsContentBlock" data-column="1">
            <div class="blockTitle">
              <span class="text caseTitleIcon4">手機資訊</span>
              <a href="#" class="moreIcon">看更多</a>
            </div>
            <div class="tsContentBlockContent">
              <ul class="list column model1" data-column="3" data-last-actionBtn="false">
                <li>
                  <ul>
                    <li class="tag">我的手機1</li>
                    <li class="value">iPhone X</li>
                    <li class="value">
                      <a href="#" class="moreIcon">支援</a>
                    </li>
                  </ul>
                </li>
                <li>
                  <ul>
                    <li class="tag">我的手機2</li>
                    <li class="value">iPhone 8</li>
                    <li class="value">
                      <a href="#" class="moreIcon">支援</a>
                    </li>
                  </ul>
                </li>
              </ul>
            </div>
          </article>

          <article class="tsContentBlock" data-column="1">
            <div class="blockTitle">
              <span class="text caseTitleIcon5">服務資訊</span>
            </div>
            <div class="tsContentBlockContent">
              <div class="listBox">
                <div class="listBoxTitle">已申裝的加值服務</div>
                <div class="listBoxConent">
                  <div class="listBoxConentLeft">
                    <span class="listBoxIcon"><img src="../images/icons/icon-deposit.png" alt="" title=""/></span>
                  </div>
                  <div class="listBoxConentRight">
                    <ul class="list iconUl model1" data-column="5">
                      <li>
                        <a href="#">
                          <img src="../images/icons/icon-ott.jpg" alt="愛奇藝" title=""/>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <img src="../images/icons/icon-kkbox.jpg" alt="KKBOX" title=""/>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <img src="../images/icons/icon-kktv.jpg" alt="KKTV" title=""/>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <img src="../images/icons/icon-kktv.jpg" alt="KKTV" title=""/>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="listBoxAction">
                  <a href="#" class="btnStyleModel4 moreIcon">瞭解詳情</a>
                </div>
              </div>

              <div class="listBox">
                <div class="listBoxTitle">國際漫遊</div>
                <div class="listBoxConent">
                  <div class="listBoxConentLeft">
                    <span class="listBoxIcon"><img src="../images/icons/icon-roaming.png" alt="" title=""/></span>
                  </div>
                  <div class="listBoxConentRight">
                    <span class="tag">國際漫遊啟用時間</span>
                    <span class="con">2017/12/17 下午 04：00</span>
                    <span class="tag">漫遊國家</span>
                    <span class="con">日本</span>
                  </div>
                </div>
                <div class="listBoxAction">
                  <a href="#" class="btnStyleModel4 moreIcon">瞭解詳情</a>
                </div>
              </div>

              <div class="listBox">
                <div class="listBoxTitle">客服信箱</div>
                <div class="listBoxConent">
                  <div class="listBoxConentLeft">
                    <span class="listBoxIcon"><img src="../images/icons/icon-service.png" alt="" title=""/></span>
                  </div>
                  <div class="listBoxConentRight">
                    <p>親愛的用戶您好，您於客服信箱所問的問題，我們已為您回覆...</p>
                  </div>
                </div>
                <div class="listBoxAction">
                  <a href="#" class="btnStyleModel4 moreIcon">瞭解詳情</a>
                </div>
              </div>
            </div>
          </article>
        </article>

        <article class="tsContent staggered justifyContent loginPage4 margin">
          <main class="maxWidth" data-paddind="true">
            <div class="mainLeft">
              <h3>有些功能您可<br/>直接使用</h3>
            </div>
            <ul>
              <li>
                <span class="organSwitch ts-icons-down">帳務類服務</span>
                <ul>
                  <li><a href="">寄送地址管理</a></li>
                  <li><a href="">電子帳單寄送紀錄查詢</a></li>
                  <li><a href="">電子發票查詢</a></li>
                </ul>
              </li>
              <li>
                <span class="organSwitch ts-icons-down">聯絡客服</span>
                <ul>
                  <li><a href="">申請/取消基本服務</a></li>
                  <li><a href="">卡片/遺失鎖住</a></li>
                  <li><a href="">線上預約換選號</a></li>
                  <li><a href="">服務異動紀錄查詢</a></li>
                </ul>
              </li>
            </ul>
          </main>
        </article>
      </main>

      <% include footer %>
    </article>
  </body>
</html>
